.review-access-screen {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.review-access-screen > ._header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 8px;
}

.review-access-screen > ._content {
  overflow: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.review-access-screen > ._content > ._sentence {
  padding: 0 8px;
  font-size: 20px;

  align-self: center;
  text-align: justify;
}

.review-access-screen._characters > ._content > ._sentence {
  font-size: 28px;
}

.review-access-screen > ._content > ._sentence > ._section {
  cursor: pointer;
  border-radius: 8px;
}

.review-access-screen > ._content > ._sentence > ._section._phrase {
  background-color: hsl(var(--yellow), 100%, 75%);
}

.review-access-screen > ._content > ._sentence > ._section._word {
  background-color: hsl(var(--pink), 100%, 75%);
}

.review-access-screen > ._content > ._sentence > ._section._reading {
  background-color: hsl(var(--blue), 100%, 75%);
}
