.review-preview-screen {
  display: grid;
  grid-template-rows: 1fr auto;
}

.review-preview-screen > ._back {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 8px 0 0 8px;
}

.review-preview-screen > ._replay {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  margin: 8px 8px 0 0;
}

.review-preview-screen > ._btn-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.review-preview-screen > ._btn-holder > button {
  appearance: none;
  background-color: transparent;
  border: 0;
  font-size: 22px;
  padding: 12px;
  color: #666;
  cursor: pointer;
}

.review-preview-screen > ._sentence {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-preview-screen > ._sentence > div {
  background-color: #ff000088;
  text-align: justify;
  font-size: 20px;
}
