.edit-learnables-screen-add {
  display: grid;
  grid-template-rows: auto 1fr;
}

.edit-learnables-screen-add > nav {
  background-color: hsl(0, 0%, 90%);
}

.edit-learnables-screen-add > nav > ._back {
  margin: 8px;
}

.edit-learnables-screen-add > section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow-y: scroll;
}

.edit-learnables-screen-add > section > ._sentence {
  font-size: 32px;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  padding: 8px;
  text-align: justify;
  text-align-last: center;
}

.edit-learnables-screen-add > section > ._sentence > ._selected {
  background-color: hsl(0, 0%, 75%);
  border-radius: 8px;
}

.edit-learnables-screen-add > section > ._controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-learnables-screen-add > section > ._controls > button {
  margin: 0 4px;
}

.edit-learnables-screen-add > section > ._continue {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 16px 8px;
}

.edit-learnables-screen-add > section > ._types {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.edit-learnables-screen-add > section > ._summary {
  margin: 8px;
  min-height: 48px;
  box-sizing: content-box;
}

.edit-learnables-screen-add > section > ._finish-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
