.round-btn {
  appearance: none;
  background-color: #00000044;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;
  border-radius: 28px;
  font-size: 28px;
  cursor: pointer;
}
