.basic-button {
  appearance: none;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  padding: 8px 32px;

  background-color: hsl(0, 0%, 75%);
  color: hsl(0, 0%, 0%);
  font-size: 20px;
  font-weight: bold;
}

.basic-button._theme-1 {
  background-color: hsl(var(--theme-color-1), 100%, 70%);
}

.basic-button._theme-2 {
  background-color: hsl(var(--theme-color-2), 100%, 70%);
}

.basic-button._theme-3 {
  background-color: hsl(var(--theme-color-3), 100%, 70%);
}

.basic-button._theme-4 {
  background-color: hsl(var(--theme-color-4), 100%, 70%);
}

.basic-button._theme-5 {
  background-color: hsl(var(--theme-color-5), 100%, 70%);
}
